.feedbacks {
  &__block-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: calc(var(--g-spacing-10) * 2);
    margin-bottom: calc(var(--g-spacing-10) * 2);
  }

  &__slider-container {
    height: max-content;
  }

  &__feedback-card-slide {
    height: 100%;
  }
}
