.feedbacks {
  &__block-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--g-spacing-10);
    margin-bottom: var(--g-spacing-10);
  }
  &__referer {
    margin-bottom: var(--g-spacing-6);
  }
  &__link {
    color: var(--color-brand-secondary);
  }
}
