.feedbacks {
  &__block-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: calc(var(--g-spacing-10) * 2);
    margin-bottom: calc(var(--g-spacing-10) * 2);
  }

  &__link {
    margin-top: var(--g-spacing-6);
  }
}
