@import '../../../app/mixins/text-mixin.css';

.text {
  &_size {
    &_6xl {
      @mixin text6XL
    }
    &_5xl {
      @mixin text5XL
    }
    &_4xl {
      @mixin text4XL
    }
    &_3xl {
      @mixin text3XL
    }
    &_2xl {
      @mixin text2XL
    }
    &_xl {
      @mixin textXL
    }
    &_lg {
      @mixin textLG
    }
    &_md {
      @mixin textMD
    }
    &_sm {
      @mixin textSM
    }
    &_xs {
      @mixin textXS
    }
  }

  &_weight {
    &_bold {
      font-weight: bold;
    }
    &_semibold {
      font-weight: 600;
    }
    &_medium {
      font-weight: 500;
    }
    &_regular {
      font-weight: 400;
    }
  }
}
