.our-services {
  position: relative;

  &__block-header {
    margin-bottom: var(--g-spacing-8);
  }

  &__tabs {
    margin-bottom: var(--g-spacing-10);
  }

  &__container {
    min-height: 450px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-4);
    width: 50%;
  }

  &__mortgage {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-4);
  }

  &__benefits {
    margin-top: calc(var(--g-spacing-10) * 2.5);
  }

  &__services-animation {
    position: absolute;
    right: -350px;
    top: 100px;
    width: 1100px;
    z-index: -10;
  }

  &__action-button {
		width: 100%;
  }
}
