@import '../../../app/breakpoints.css';
@import '../../../app/mixins/property-mixin.css';

.slider-controls {
  display: none;
  width: fit-content;
  gap: var(--g-spacing-2);
  @media (min-width: $width-sm) {
    display: flex;
    gap: var(--g-spacing-4);
  }

  &__control {
    @mixin size 50px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
      border-color 0.2s,
      color 0.2s;
    user-select: none;
    box-sizing: border-box;
  
    @media (min-width: $width-sm) {
      @mixin size 60px;
    }

    &:hover {
      border-color: var(--color-brand-secondary);
      color: var(--color-brand-secondary);
    }

    &_disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}
