.stepper-block {
  width: 100%;
  display: flex;
  position: relative;
  padding: var(--g-spacing-6) 0;

  &:nth-child(even) {
    justify-content: flex-end;
    .stepper-block__text {
      padding-left: calc(3.5 * var(--g-spacing-10));
      padding-right: 0;
      text-align: left;
    }
  }

  &__text {
    width: 65%;
    padding-right: calc(3.5 * var(--g-spacing-10));
    box-sizing: border-box;
    text-align: right;
  }

  &__description {
    color: transparent;
    position: relative;

    &__cover {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      color: var(--g-color-text-primary);
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__title {
    margin-bottom: var(--g-spacing-2);
    position: relative;
  }

  &__dot {
    z-index: 20;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--color-brand-second);
  }

  &__line {
    z-index: 10;
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--g-color-text-hint);
  }
}
