:root {
  --width-s: 576px;
  --width-m: 768px;
  --width-l: 1080px;
  --width-xl: 1200px;
  --width-xxl: 1400px;
  --width-xxxl: 1920px;

	--font-weight-normal:400;
	--font-weight-medium:500;
	--font-weight-bold:700;
}
html,body{
	position: relative;
	overflow: hidden auto;
	min-width: 100vw;
  min-height: 100vh;
	margin: 0;
	padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
