@import './vars.css';
@import './fonts.css';


html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SF Pro Display;
	position: relative;
  overflow: hidden auto;
	background-color: var(--color-bg-gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-second);
  border-radius: var(--g-spacing-4);
  box-shadow: inset 0px 0px 0px 10px var(--color-brand-second);
}

.swiper-pagination-bullet-active {
  background: var(--color-brand-second) !important;
}
