:root {
  --width-xs: 320px;
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1080px;
  --width-2xl: 1200px;
  --width-3xl: 1400px;
  --width-4xl: 1920px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-brand-action: #ffd13c;
  --color-brand-main: #faa21d;
  --color-brand-secondary: #ff8e39;

  --color-brand-action-light: #faa21d7a;
  --color-brand-main-light: #ffac6c94;
  --color-brand-secondary-light: #ff8f3983;
  --color-brand-error: rgb(255, 88, 88);
  --color-bg-gray: #ecece6;
  --color-hover-gray: #a3a3a3;

  --swiper-pagination-color: var(--color-brand-secondary);
  --swiper-navigation-color: var(--color-brand-secondary);

  --g-spacing-1: 4px;
  --g-spacing-2: calc(var(--g-spacing-1) * 2);
  --g-spacing-3: calc(var(--g-spacing-1) * 3);
  --g-spacing-4: calc(var(--g-spacing-1) * 4);
  --g-spacing-5: calc(var(--g-spacing-1) * 5);
  --g-spacing-6: calc(var(--g-spacing-1) * 6);
  --g-spacing-7: calc(var(--g-spacing-1) * 7);
  --g-spacing-8: calc(var(--g-spacing-1) * 8);
  --g-spacing-9: calc(var(--g-spacing-1) * 9);
  --g-spacing-10: calc(var(--g-spacing-1) * 10);
}
