.accordion {
  position: relative;
  overflow: hidden;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px var(--color-hover-gray);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--g-spacing-3);

    &_hasContent {
      cursor: pointer;
    }
  }

  &__content {
    padding: 0 var(--g-spacing-3) var(--g-spacing-3) var(--g-spacing-3);
  }
}
