.accordion {
  position: relative;
  overflow: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--g-spacing-3);
    &_hasContent {
      cursor: pointer;
    }
  }

  &__content {
    padding: 0 var(--g-spacing-3) var(--g-spacing-3) var(--g-spacing-3);
  }
}
