@import '../../../app/breakpoints.css';
@import '../../../app/mixins/text-mixin.css';

.feedback-card {
  display: flex;
  flex-direction: column;
  padding: var(--g-spacing-4);
  gap: var(--g-spacing-5);
  background-color: var(--color-brand-main-light);
  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;
    gap: var(--g-spacing-5);
  }

  &__dot {
    background: var(--color-brand-secondary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    gap: var(--g-spacing-2);
    align-items: center;
  }

  &__icon {
    user-select: none;
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &__name {
    font-weight: var(--font-weight-normal);
    text-align: right;
    width: auto;
  }

  &__link {
    font-weight: var(--font-weight-normal);
    color: var(--color-brand-secondary);
    text-decoration: none;
  }
  &__name,
  &__deal,
  &__content,
  &__content__cover {
    @media (max-width: $width-lg) {
      @mixin textMD;
    }
    @media (max-width: $width-md) {
      @mixin textLG;
    }
  }
  &__content {
    position: relative;
    color: transparent;

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #000;
      clip-path: inset(0 0 100% 0);
      transition: clip-path 2s;

      &_visible {
        clip-path: inset(0);
        width: 100%;
      }
    }
  }
}
